<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Attest.Fake.Builders" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Fake.Core" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Fake.Registration" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Tests.Core" version="1.4.1-rc2" targetFramework="net461" />
  <package id="Attest.Tests.NUnit" version="1.4.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Tests.Contracts" version="1.1.1-rc2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net461" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.Core.Engine" version="3.0.0-beta-4" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Runners" version="3.7.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.33" targetFramework="net461" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net461" />
  <package id="Solid.Bootstrapping" version="1.2.1-rc3" targetFramework="net461" />
  <package id="Solid.Patterns.Builder" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Practices.IoC" version="1.2.1-rc2" targetFramework="net461" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net461" />
  <package id="SpecFlow.NUnit" version="2.2.1" targetFramework="net461" />
</packages>